---
swagger: "2.0"
info:
  version: "2016-10-11T19:28:38Z"
  title: "v0"
host: "api.vip2phone.net"
basePath: "/v0"
schemes:
- "https"
paths:
  /acl:
    get:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/ACLResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      - in: "body"
        name: "ACLRequest"
        required: true
        schema:
          $ref: "#/definitions/ACLRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/EmptyResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        400:
          description: "400 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
    patch:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      - in: "body"
        name: "ACLRequest"
        required: true
        schema:
          $ref: "#/definitions/ACLRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/EmptyResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        400:
          description: "400 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
  /blacklist/{id}:
    put:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      - name: "id"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "EmptyRequest"
        required: true
        schema:
          $ref: "#/definitions/EmptyRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/EmptyResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      - name: "id"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "EmptyRequest"
        required: true
        schema:
          $ref: "#/definitions/EmptyRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/EmptyResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /cdr:
    get:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "clid"
        in: "query"
        required: false
        type: "string"
      - name: "extension_src"
        in: "query"
        required: false
        type: "string"
      - name: "dial_status"
        in: "query"
        required: false
        type: "string"
      - name: "extension_dst"
        in: "query"
        required: false
        type: "string"
      - name: "start_date"
        in: "query"
        required: false
        type: "string"
      - name: "ani"
        in: "query"
        required: false
        type: "string"
      - name: "trunk_name"
        in: "query"
        required: false
        type: "string"
      - name: "queue_name"
        in: "query"
        required: false
        type: "string"
      - name: "unique_id"
        in: "query"
        required: false
        type: "string"
      - name: "sort_order"
        in: "query"
        required: false
        type: "string"
      - name: "end_date"
        in: "query"
        required: false
        type: "string"
      - name: "timezone"
        in: "query"
        required: false
        type: "string"
      - name: "dnis"
        in: "query"
        required: false
        type: "string"
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      - name: "sort_field"
        in: "query"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        required: false
        type: "string"
      - name: "record_name"
        in: "query"
        required: false
        type: "string"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/CDRResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        400:
          description: "400 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /dids:
    get:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/DidsResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /dids/{id}:
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
    patch:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      - name: "id"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "DidsRequest"
        required: true
        schema:
          $ref: "#/definitions/DidsRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/EmptyResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        400:
          description: "400 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
  /extensions:
    get:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/ExtensionsResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /extensions/{id}:
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
    patch:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      - name: "id"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "ExtensionsRequest"
        required: true
        schema:
          $ref: "#/definitions/ExtensionsRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/EmptyResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        400:
          description: "400 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        404:
          description: "404 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
  /login:
    post:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      - in: "body"
        name: "Empty"
        required: true
        schema:
          $ref: "#/definitions/Empty"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/LoginResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        400:
          description: "400 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /me:
    get:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Me"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /queues:
    get:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/QueuesResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
    post:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      - in: "body"
        name: "QueuesRequest"
        required: true
        schema:
          $ref: "#/definitions/QueuesRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/EmptyResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        400:
          description: "400 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /queues/{id}:
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
    patch:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      - name: "id"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "QueuesRequest"
        required: true
        schema:
          $ref: "#/definitions/QueuesRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/EmptyResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        400:
          description: "400 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        404:
          description: "404 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
  /version:
    get:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/VersionResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/EmptyResponse"
          headers:
            Access-Control-Expose-Headers:
              type: "string"
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
definitions:
  CDREntry:
    type: "object"
    properties:
      record_name:
        type: "string"
      queue_name:
        type: "string"
      trunk_name:
        type: "string"
      unique_id:
        type: "string"
      instance_id:
        type: "string"
      id:
        type: "string"
      extension_src:
        type: "string"
      extension_dst:
        type: "string"
      ani:
        type: "string"
      dnis:
        type: "string"
      clid:
        type: "string"
      answer_time:
        type: "integer"
      dial_time:
        type: "integer"
      date_created_str:
        type: "string"
      date_created:
        type: "integer"
      date_indexed_str:
        type: "string"
      date_indexed:
        type: "integer"
    title: "CDR object"
  ACE:
    type: "object"
    properties:
      mask:
        type: "integer"
        minimum: 16.0
        maximum: 32.0
        exclusiveMinimum: false
        exclusiveMaximum: false
      network:
        type: "string"
    title: "ACE object"
  LoginResponse:
    type: "object"
    properties:
      token:
        type: "string"
    title: "POST login response"
  VersionResponse:
    type: "object"
    properties:
      version:
        type: "string"
        pattern: "^(\\d+\\.\\d+\\.\\d+)$"
    title: "GET Version Response"
  ACLResponse:
    type: "object"
    properties:
      acl:
        type: "array"
        items:
          $ref: "#/definitions/ACE"
    title: "GET ACL Response"
  DidsResponse:
    type: "object"
    properties:
      queues:
        type: "array"
        items:
          type: "object"
          properties:
            did:
              type: "string"
            behavior:
              type: "string"
    title: "GET Dids Response"
  ACLRequest:
    type: "object"
    properties:
      ace:
        $ref: "#/definitions/ACE"
    title: "Used for PATCH /acl and /delete"
  CDRResponse:
    type: "object"
    properties:
      records:
        type: "array"
        items:
          $ref: "#/definitions/CDREntry"
    title: "GET CDR Response"
  ErrorResponse:
    type: "object"
    properties:
      errors:
        type: "array"
        items:
          type: "string"
    title: "Standard Error Response"
  ExtensionsRequest:
    type: "object"
    properties:
      settings:
        type: "object"
        properties:
          name:
            type: "string"
            minLength: 2
            maxLength: 64
            pattern: "^[a-zA-Z0-9 ]$"
          dnd:
            type: "boolean"
    title: "Used for PATCH /extensions/id"
  QueuesResponse:
    type: "object"
    properties:
      queues:
        type: "array"
        items:
          type: "object"
          properties:
            name:
              type: "string"
            id:
              type: "integer"
              minimum: 0.0
              exclusiveMinimum: true
            number:
              type: "integer"
              minimum: 0.0
              exclusiveMinimum: true
    title: "GET Queues Response"
  Empty:
    type: "object"
    title: "Standard Empty Success Response"
  QueuesRequest:
    type: "object"
    properties:
      settings:
        type: "object"
        properties:
          name:
            type: "string"
            minLength: 2
            maxLength: 64
            pattern: "^[a-zA-Z0-9 ]$"
          number:
            type: "integer"
            minimum: 999.0
            maximum: 10000.0
            exclusiveMinimum: true
            exclusiveMaximum: true
    title: "Used for PATCH /queues/id"
  DidsRequest:
    type: "object"
    properties:
      settings:
        type: "object"
        properties:
          behavior:
            type: "string"
    title: "Used for PUT /dids/:did"
  Me:
    type: "object"
    properties:
      email:
        type: "string"
        format: "email"
      pbx:
        type: "object"
        properties:
          state:
            type: "string"
            enum:
            - "green"
            - "failed"
            - "red"
          systemStatus:
            type: "string"
            enum:
            - "green"
            - "failed"
            - "red"
          instanceStatus:
            type: "string"
            enum:
            - "green"
            - "failed"
            - "red"
    title: "Me object"
  EmptyRequest:
    type: "object"
    title: "Standard Empty Request"
  EmptyResponse:
    type: "object"
    title: "Standard Empty Success Response"
  ExtensionsResponse:
    type: "object"
    properties:
      extensions:
        type: "array"
        items:
          type: "object"
          properties:
            name:
              type: "string"
            id:
              type: "integer"
              minimum: 0.0
              exclusiveMinimum: true
            number:
              type: "integer"
              minimum: 0.0
              exclusiveMinimum: true
            dnd:
              type: "boolean"
    title: "GET Extensions Response"
