---
swagger: "2.0"
info:
  version: "2016-05-09T21:00:37Z"
  title: "v0"
host: "api.vip2phone.net"
basePath: "/v0"
schemes:
- "https"
paths:
  /acl:
    get:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/ACLResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      - in: "body"
        name: "ACLRequest"
        required: true
        schema:
          $ref: "#/definitions/ACLRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/EmptyResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        400:
          description: "400 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
    patch:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      - in: "body"
        name: "ACLRequest"
        required: true
        schema:
          $ref: "#/definitions/ACLRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/EmptyResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        400:
          description: "400 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
  /blacklist/{id}:
    put:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      - name: "id"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "EmptyRequest"
        required: true
        schema:
          $ref: "#/definitions/EmptyRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/EmptyResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      - name: "id"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "EmptyRequest"
        required: true
        schema:
          $ref: "#/definitions/EmptyRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/EmptyResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /dids:
    get:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/DidsResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /dids/{id}:
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
    patch:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      - name: "id"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "DidsRequest"
        required: true
        schema:
          $ref: "#/definitions/DidsRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/EmptyResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        400:
          description: "400 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
  /extensions:
    get:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/ExtensionsResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /extensions/{id}:
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
    patch:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      - name: "id"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "ExtensionsRequest"
        required: true
        schema:
          $ref: "#/definitions/ExtensionsRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/EmptyResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        400:
          description: "400 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        404:
          description: "404 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
  /me:
    get:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Me"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /queues:
    get:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/QueuesResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /queues/{id}:
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
    patch:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      - name: "id"
        in: "path"
        required: true
        type: "string"
      - in: "body"
        name: "QueuesRequest"
        required: true
        schema:
          $ref: "#/definitions/QueuesRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/EmptyResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        400:
          description: "400 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        404:
          description: "404 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
  /version:
    get:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/VersionResponse"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
        500:
          description: "500 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/ErrorResponse"
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/EmptyResponse"
          headers:
            Access-Control-Expose-Headers:
              type: "string"
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
definitions:
  VersionResponse:
    type: "object"
    properties:
      version:
        type: "string"
        pattern: "^(\\d+\\.\\d+\\.\\d+)$"
  ACE:
    type: "object"
    properties:
      mask:
        type: "integer"
        minimum: 16.0
        maximum: 32.0
        exclusiveMinimum: false
        exclusiveMaximum: false
      network:
        type: "string"
  ACLResponse:
    type: "object"
    properties:
      acl:
        type: "array"
        items:
          $ref: "#/definitions/ACE"
  DidsResponse:
    type: "object"
    properties:
      queues:
        type: "array"
        items:
          type: "object"
          properties:
            behavior:
              type: "string"
            did:
              type: "string"
  ACLRequest:
    type: "object"
    properties:
      ace:
        $ref: "#/definitions/ACE"
  ErrorResponse:
    type: "object"
    properties:
      errors:
        type: "array"
        items:
          type: "string"
  QueuesResponse:
    type: "object"
    properties:
      queues:
        type: "array"
        items:
          type: "object"
          properties:
            number:
              type: "integer"
              minimum: 0.0
              exclusiveMinimum: true
            name:
              type: "string"
            id:
              type: "integer"
              minimum: 0.0
              exclusiveMinimum: true
  ExtensionsRequest:
    type: "object"
    properties:
      settings:
        type: "object"
        properties:
          name:
            type: "string"
            minLength: 2
            maxLength: 64
            pattern: "^[a-zA-Z0-9 ]$"
          dnd:
            type: "boolean"
  QueuesRequest:
    type: "object"
    properties:
      settings:
        type: "object"
        properties:
          name:
            type: "string"
            minLength: 2
            maxLength: 64
            pattern: "^[a-zA-Z0-9 ]$"
  DidsRequest:
    type: "object"
    properties:
      settings:
        type: "object"
        properties:
          behavior:
            type: "string"
  Me:
    type: "object"
    properties:
      email:
        type: "string"
        format: "email"
      pbx:
        type: "object"
        properties:
          systemStatus:
            type: "string"
            enum:
            - "green"
            - "failed"
            - "red"
          state:
            type: "string"
            enum:
            - "green"
            - "failed"
            - "red"
          instanceStatus:
            type: "string"
            enum:
            - "green"
            - "failed"
            - "red"
  EmptyRequest:
    type: "object"
  ExtensionsResponse:
    type: "object"
    properties:
      extensions:
        type: "array"
        items:
          type: "object"
          properties:
            number:
              type: "integer"
              minimum: 0.0
              exclusiveMinimum: true
            name:
              type: "string"
            id:
              type: "integer"
              minimum: 0.0
              exclusiveMinimum: true
            dnd:
              type: "boolean"
  EmptyResponse:
    type: "object"
